<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello, {{ student.stu_name }}
    <table>
        {% for room in rooms %}
        <form action="" method="post">
        {% csrf_token %}
        <tbody>
            <tr style="height: 30px">
                <td width="60">room_id</td>
                <td width="200">{{ room.0 }}</td>
                <td width="60">is_open</td>
                <td width="200">{{ room.1 }}</td>
            </tr>
            <tr style="height: 30px">
                <td width="60">config_url</td>
                <td width="200">{{ room.2 }}</td>
                <td width="60">room_desc</td>
                <td width="200">{{ room.3 }}</td>
            </tr>
            <tr style="height: 30px">
                <td width="60">capacity / reserved</td>
                <td width="200">{{ room.5 }} / {{ room.6 }}</td>
                <td width="60">overnight</td>
                <td width="200">{{ room.4 }}</td>
            </tr>
            <tr style="height: 30px">
                <td width="60"></td>
                <td width="200"><a href="http://127.0.0.1:8000/stu_room/{{ student.stu_id }}/{{ room.0 }}">reserve</a></td>
            </tr>
        </tbody>
        </form>
        {% endfor %}
    </table>
</body>
</html>