<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello, {{ student.stu_name }}. records are <a href="http://127.0.0.1:8000/stu_index/{{ student.stu_id }}/record/">here</a>
    <table>
        {% for building in buildings %}
        <form action="" method="post">
        {% csrf_token %}
        <tbody>
            <tr style="height: 30px">
                <td width="60">building_id</td>
                <td width="200">{{ building.0 }}</td>
                <td width="60">is_open</td>
                <td width="200">{{ building.1 }}</td>
            </tr>
            <tr style="height: 30px">
                <td width="60">config_url</td>
                <td width="200">{{ building.2 }}</td>
                <td width="60">building_desc</td>
                <td width="200">{{ building.3 }}</td>
            </tr>
            <tr style="height: 30px">
                <td width="60">capacity / reserved</td>
                <td width="200">{{ building.5 }} / {{ building.6 }}</td>
                <td width="60">distance</td>
                <td width="200">{{ building.4 }}</td>
            </tr>
            <tr style="height: 30px">
                <td width="60"></td>
                <td width="200"><a href="http://127.0.0.1:8000/stu_building/{{ student.stu_id }}/{{ building.0 }}">reserve</a></td>
            </tr>
        </tbody>
        </form>
        {% endfor %}
    </table>
</body>
</html>